cartpole_LQR/lqr_hardware/serial/
cartpole_LQR/lqr_hardware/libtorch/
cartpole_LQR/lqr_hardware/build/
cartpole_LQR/lqr_hardware/logs/
cartpole_LQR/lqr_isaacgym/log/

*.vscode/
__pycache__/
*.pyc
*.egg-info/
